.notifCard {
    width: 100%;
    position: relative;
    border-radius: 8px;
    background: #1E2432;
    border: 1px solid #3D3E48;
    margin-top: 55px;
    padding: 12px 7px 16px;
}
.notifCardHeader {
    display: flex;
    justify-content: space-between;
    color: #E9E9E9;
}
.notifCardTitle {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.01em;
}
.notifCardTime {
    font-weight: 500;
    font-size: 14px;
}
.notifCardRemove {
    position: absolute;
    top: -35px;
    right: 3px;
    cursor: pointer;
    z-index: 100;
}
.notifCardOrders {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    color: #E9E9E9;
}
.notifCardOrderPiece {
    margin: 0 4px;
    color: #FF9C68;
}